            <!-- basic layout for experiment -->
            <div id="container-exp">
                <div id="stagewrapper">
                    <div id="aboveStage">
                    </div>
                    <div id="stage">
                        <svg width="1000" height="570" id="stagesvg"></svg>
                    </div>
                    <div id="belowStage">
                      <br />
                        <div id="preexpose-instruction" style="visibility: hidden"><h3>Remember these pictures!</h3></div>
                        <div id="study-instruction" style="visibility: hidden"><h3>Tap the cards you want to see.</h3></div>
                        <div id="test-instruction" style="visibility: hidden"><h3>Select all the pictures you remember.</h3></div>
                        <div id="buttons"></div>
                    </div>
                </div>
            </div>

    <!-- Small modal -->

    <div id="continueModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Are you sure you're done?</h4>
          </div>
          <div class="modal-footer">
            <button id='modalCloseButton' type="button" class="btn btn-default" data-dismiss="modal">Go back</button>
            <button id='modalContinueButton' type="button" class="btn btn-primary">Continue</button>
          </div>
        </div>
      </div>
    </div>
