  <!-- basic layout for experiment -->
            <div id="container-exp">
                <h1>Summary</h1>
                <div id="summary">
                    <div><span class=left>ID:</span><span class=right id=partid></span></div>                    
                    <div><span class=left>Active:</span><span class=right id=acc_active></span></div>
                    <div><span class=left>Yoked:</span><span class=right id=acc_yoked></span></div>
                    <div><span class=left>Novel:</span><span class=right id=acc_novel></span></div>
                </div>
                <button id="check-button" type="button" class="btn btn-default btn-lg" autocomplete="off">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
